<div class="jumborton" style="margin-left: 4%;" *ngFor="let servicedata of grouping | keyvalue">
    <table  class="table  table-bordered" style="width: 80%; margin: 0px;">
        <tr>
            <td class="alert-success" style="width: 30%; margin: 0px; vertical-align: middle;text-align: center;">{{servicedata.key}}</td>
            <td style="width: 60%;"> 
                <table class="table table-striped table-bordered" >
                    <tr *ngFor="let x of servicedata.value">
                        <td>{{x.serviceDisplayName}}</td>
                        <td>{{x.serviceName}}</td>
                        <td>{{x.serviceStatus}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
</div>
